body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header-menu-ul{
  display: flex;
  justify-content: space-between;
  max-width: 70%;
  margin: auto;
  padding: 1em 0;
}

.header-menu-ul li{
  list-style: none;
  cursor: pointer;
}

.card{
  padding: 1em;
  max-width: 280px;
  margin: 1em 0;

}
.location-description{
  padding-right: 8px;
}

